vim-*
ale
SimpylFold
slimux
todo.txt-vim
vim-colors-solarized
vim-elixir
vim-flake8
vim-fugitive
vim-minizinc
vim-openscad
vim-pathogen
vim-repeat
vim-sensible
vim-speeddating
vim-surround
vim-unimpaired

